extend jade.resources/layout/master
block content	
	.wrap
		section.featured(style='background-image: url("assets/img/noi.jpg")')
			article.container
				h2 Conceptul de Laborator
				.article-content
					p Incurajam oamenii de business sa breakthrough in their category,
					p invatand prin aplicatii practice ce rezultate poate aduce brandingul.
				a(href='#' class='btn-main') Watch our story
		.container		
			section.featured-next-workshop
				article.half
					h3 Urmatorul workshop
					.workshop
						p Tema:
						p.special Graphic design sau arta moderna?					
						p Data:	
						p.special 13 februarie 2015					
				article.half
					h3 Testimoniale
					.testimonials-carousel
						.item
							.workshop						
								p.special Wally Ollins					
								blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
						.item
							.workshop						
								p.special Wally Ollins					
								blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
						.item
							.workshop						
								p.special Wally Ollins					
								blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
				.button-container
					a(href='#' class='btn-main') Vreau sa particip
			section.narrow-wrap
				article.narrow-article 
					h2 Cum inveti?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.	
					a(href='#') ...afla mai multe	
				article.narrow-article 
					h2 Cum inveti?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.	
					a(href='#') ...afla mai multe
				article.narrow-article 
					h2 Cum inveti?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.	
					a(href='#') ...afla mai multe
				.full
					a(href='#' class="view-workshops") Vezi programul workshopurilor			