extend jade.resources/layout/master
block content	
	.wrap
		section.featured(style='background-image: url("assets/img/noi.jpg")')
			article.container
				h2 Conceptul de Laborator
				.article-content
					p Incurajam oamenii de business sa breakthrough in their category,
					p invatand prin aplicatii practice ce rezultate poate aduce brandingul.
				a(href='#' class='btn-main') Watch our story
		.container		
			section.row.last-workshop-list
				.half
					article.last-workshop-item
						img(src='assets/img/speaker.jpg' class='img-responsive')			
						.workshop
							p Tema:
							p.special Graphic design sau arta moderna?
							p Speaker:
							p.special James Victore						
							p Data:
							p.special 13 februarie 2015
				.half
					article.last-workshop-item
						img(src='assets/img/speaker.jpg' class='img-responsive')			
						.workshop
							p Tema:
							p.special Graphic design sau arta moderna?
							p Speaker:
							p.special James Victore						
							p Data:
							p.special 13 februarie 2015
				.half
					article.last-workshop-item
						img(src='assets/img/speaker.jpg' class='img-responsive')			
						.workshop
							p Tema:
							p.special Graphic design sau arta moderna?
							p Speaker:
							p.special James Victore						
							p Data:
							p.special 13 februarie 2015
				.half
					article.last-workshop-item
						img(src='assets/img/speaker.jpg' class='img-responsive')			
						.workshop
							p Tema:
							p.special Graphic design sau arta moderna?
							p Speaker:
							p.special James Victore						
							p Data:
							p.special 13 februarie 2015
				.full
					a(href='#' class='btn-large') Vreau sa particip la urmatorul workshop												