extend jade.resources/layout/master
block content	
	.wrap
		section.featured(style='background-image: url("assets/img/noi.jpg")')
			article.container
				h2 Conceptul de Laborator
				.article-content
					p Incurajam oamenii de business sa breakthrough in their category,
					p invatand prin aplicatii practice ce rezultate poate aduce brandingul.
				a(href='#' class='btn-main') Watch our story
		.container		
			section.row.next-workshop
				article.next-workshop-main
					.full
						.half
							h2 Urmatorul workshop		
					.half
						.workshop
							p Tema:
							p.special Graphic design sau arta moderna?
							p Trainer:
							p.special James Victore						
							p Data:
							p.special 13 februarie 2015
							p Locatia:
							p.special Hotel Rin Grand Bucharest
							p Pretul:
							p.special 450 E/participant
					.half
						img(src='assets/img/speaker.jpg' class='img-responsive')
				
			section.program-list
				h3 Tematici pe care le vom aborda in workshop-uri viitoare
				article.half				
					.workshop
						p Tema:
						p.special Graphic design sau arta moderna?					
						p Data:	
						p.special 13 februarie 2015	
				article.half				
					.workshop
						p Tema:
						p.special Graphic design sau arta moderna?					
						p Data:	
						p.special 13 februarie 2015
				article.half				
					.workshop
						p Tema:
						p.special Graphic design sau arta moderna?					
						p Data:	
						p.special 13 februarie 2015	
				article.half				
					.workshop
						p Tema:
						p.special Graphic design sau arta moderna?					
						p Data:	
						p.special 13 februarie 2015
			.full
				a(href='#' class="btn-large") Aboneaza-te la newsletter pentru mai multe detalii									