extend jade.resources/layout/master
block content
	.container
		article.half
					h3 Urmatorul workshop
					.workshop
						p Tema:
						p.special Graphic design sau arta moderna?
						p Trainer:
						p.special James Victore
						p Specializare:
						p.special Lorem ipsumn sin dolor
						p Descriere:
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue lorem a metus iaculis, non pulvinar sapien rhoncus. Vivamus consectetur enim et posuere varius. Nam ut dui sit amet magna ullamcorper condimentum nec quis sapien. Sed non justo congue, vehicula felis ut, aliquet ligula. Donec molestie non purus vel imperdiet.
						p Data:
						p.special 13 februarie 2015
						p Locatia:
						p.special Hotel Rin Grand Bucharest
						p Pretul:
						p.special 450 E/participant