extend jade.resources/layout/master
block content	
	.wrap
		section.featured(style='background-image: url("assets/img/noi.jpg")')
			article.container
				h2 Conceptul de Laborator
				.article-content
					p Incurajam oamenii de business sa breakthrough in their category,
					p invatand prin aplicatii practice ce rezultate poate aduce brandingul.
				a(href='#' class='btn-main') Watch our story
		.container		
			section.row.speaker-list
				article.speaker
					.half					
						.workshop
							p Trainer
							p.special James Victore
							p Specializare:
							p.special Lorem ipsumn sin dolor
							p Descriere:
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue lorem a metus iaculis, non pulvinar sapien rhoncus. Vivamus consectetur enim et posuere varius. Nam ut dui sit amet magna ullamcorper condimentum nec quis sapien. Sed non justo congue, vehicula felis ut, aliquet ligula. Donec molestie non purus vel imperdiet.
					.half
						img(src='assets/img/speaker.jpg' class='img-responsive')
				article.speaker
					.half					
						.workshop
							p Trainer
							p.special James Victore
							p Specializare:
							p.special Lorem ipsumn sin dolor
							p Descriere:
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue lorem a metus iaculis, non pulvinar sapien rhoncus. Vivamus consectetur enim et posuere varius. Nam ut dui sit amet magna ullamcorper condimentum nec quis sapien. Sed non justo congue, vehicula felis ut, aliquet ligula. Donec molestie non purus vel imperdiet.
					.half
						img(src='assets/img/speaker.jpg' class='img-responsive')
				article.speaker
					.half					
						.workshop
							p Trainer
							p.special James Victore
							p Specializare:
							p.special Lorem ipsumn sin dolor
							p Descriere:
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue lorem a metus iaculis, non pulvinar sapien rhoncus. Vivamus consectetur enim et posuere varius. Nam ut dui sit amet magna ullamcorper condimentum nec quis sapien. Sed non justo congue, vehicula felis ut, aliquet ligula. Donec molestie non purus vel imperdiet.
					.half
						img(src='assets/img/speaker.jpg' class='img-responsive')
				article.speaker
					.half					
						.workshop
							p Trainer
							p.special James Victore
							p Specializare:
							p.special Lorem ipsumn sin dolor
							p Descriere:
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue lorem a metus iaculis, non pulvinar sapien rhoncus. Vivamus consectetur enim et posuere varius. Nam ut dui sit amet magna ullamcorper condimentum nec quis sapien. Sed non justo congue, vehicula felis ut, aliquet ligula. Donec molestie non purus vel imperdiet.
					.half
						img(src='assets/img/speaker.jpg' class='img-responsive')
				.full
					a(href='#' class='next-workshop-sign') Vezi programul workshopurilor								
									
				