extend jade.resources/layout/master
block content	
	.wrap
		section.featured(style='background-image: url("assets/img/noi.jpg")')
			article.container
				h2 Conceptul de Laborator
				.article-content
					p Incurajam oamenii de business sa breakthrough in their category,
					p invatand prin aplicatii practice ce rezultate poate aduce brandingul.
				a(href='#' class='btn-main') Watch our story
		.container		
			section.row.workshop-selected
				article.workshop-selected-main
					.half
						.workshop
							p Tema:
							p.special Graphic design sau arta moderna?
							p Trainer:
							p.special James Victore						
							p Data:
							p.special 13 februarie 2015
							p Locatia:
							p.special Hotel Rin Grand Bucharest
							p Pretul:
							p.special 450 E/participant
					.half
						img(src='assets/img/speaker.jpg' class='img-responsive')
			section.workshop-selected-content
				article.half
					h3 Cum inveti?
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.	
					a(href='#') ...afla mai multe	
				section.half
					h3 Testimoniale
					.testimonials-carousel
						.item
							.workshop						
								p.special Wally Ollins					
								blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
						.item
							.workshop						
								p.special Wally Ollins					
								blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
						.item
							.workshop						
								p.special Wally Ollins					
								blockquote Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
				section.half		
					a(href='#' class='download-pdf') Descarca prezentarea
				article.half
					h3 Firme participante					
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.		
		aside.gallery-wrap
			img(src='assets/img/galerie-fake.png' class='img-responsive')		
			a(href='#' class='gallery-show') Galerie foto
		.container
			.full
				a(href='#' class="btn-large") Vreau sa particip la urmatorul Workshop								