.main-nav	
	background-color: #000
	position: relative
	z-index: 2	
	text-align: center
	padding: 1em 0	
	margin-top: -5px		
	@media (min-width: $screen-lg-min)
		margin-top: -15px	
	@media (min-width: $screen-xlg-min)
		margin-top: -5px	
	ul
		+h-nav
		display: inline-block
	li 
		padding: 0 2em	
		position: relative
		ul
			display: none
			position: absolute
			top: 100%
			padding-top: $spacing
			left: 0
			width: 100%
			li 
				padding: 0px
				width: 100%
				float: none
			a 
				display: block	
				border: none		
				&:hover 
					background-color: $secondary
					color: #000	
					border: none
		&:hover
			ul 
				display: block	
				

	a
		+nav-level-1(#000,#fff,#000,$secondary)		
		font-weight: 700
		padding: 0.2em 0.5em
		border: 2px solid #000
		&:hover 
			color: $secondary
			border: 2px solid $secondary
		&.active
			color: $primary
			border: 2px solid $primary
	

	
								