@MasterPageFile("master/master.cshtml")    
    <div class="wrap">
     <div class="dwcontent" id="featuredBanner" title="Featured Banner" data-settings="template:moduleonly.html;unwrap=true"></div>
     <div class="container">
          <div class="dwcontent" id="mainContent" title="Main Content" data-settings="template:moduleonly.html;unwrap=true"></div>
     </div>      
     <div class="dwcontent" id="fullWidthContent" title="Full Width Content" data-settings="template:moduleonly.html;unwrap=true"></div>        
      
    </div>