script(type='text/javascript' src='assets/js/jquery.min.js' defer )
//- script(defer type='text/javascript' src='assets/js/tab.js')
script(type='text/javascript' src='assets/js/main.js' defer )
script(defer type='text/javascript' src='assets/js/owl.carousel.js')
.container
	footer.footer
		h5 Newsletter
		.form-footer
			input(type='text' placeholder='Email...')
			button Aboneaza-te
		.footer-content
			img(src='assets/img/svg/bf-logo.svg')
			p Telefon: 021 231 44 57
			p Mail: 
				a(href='#')
					salut@laborator.ro
			p Daca vrei sa afli mai multe despre BrandFusion, fa-ne o vizita pe 
				a(href='#') site.