.main-nav
  nav
    .main-nav-wrap
      ul      
        li
          a(href='despre-proiect.html' class='active') Despre proiect          
        li
          a(href='next-workshop.html') Urmatorul Workshop          
        li
          a(href='last-workshopes.html') Workshop-uri Anterioare           
        li
          a(href='category.html') Program           
        li
          a(href='trainers.html') Traineri           
        li
          a(href='cum-particip.html') Cum particip
